/* VARIABLES */
	@font-face {
	  font-family: 'Playfair Display';
	  src: url('fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
	  font-weight: 100 900;
	  font-style: italic;
	}
	@font-face {
	  font-family: 'Playfair Display';
	  src: url('fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
	  font-weight: 100 900;
	  font-style: normal;
	}
	@font-face {
	  font-family: 'DM Sans';
	  src: url('fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
	  font-weight: 100 900;
	  font-style: normal;
	}

	:root {
		--gold: #c9a84c;
		--gold-light: #f0d080;
		--gold-dark: #8a6a1f;
		--ink: #0d0c11;
		--cream: #f2efea;
		--green-money: #1a3d2b;
		--green-light: #2e6b4a;
		--silver: #b0aeaa;
	}

/* BASE STUFF */
	* {
		margin: 0;
		padding: 0;

		pointer-events: none;
		user-select: none;
	}

	body {
		font: 1.2rem 'DM-Sans', sans-serif;

		overflow: hidden;
		color: var(--cream);
	}

/* SHARED STUFF */
	.slide-header {
		z-index: 1;
	}

	.slide-unit {
		color: var(--gold);
		text-transform: uppercase;
		font-size: 10px;
		text-shadow: 0 0 2px var(--gold);

		position: absolute;
		top: 12px;
		left: 18px;
		letter-spacing: 1px;
	}

	.slide-eyebrow {
		color: var(--gold-dark);
		align-self: flex-start;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 4px;
		font-weight: 300;
		font-size: 11px;
		margin-bottom: 12px;
	}

	.slide-title {
		font: 32px 'Playfair Display';
		font-weight: 600;

		margin: 8px 0 12px 0;
	}

	.slide-source {
		font-size: 6px;
		font-weight: 300;

		letter-spacing: 2px;
		text-transform: uppercase;
		color: var(--silver);

		margin-top: 10.6em;
		bottom: 0px;
	}

/* SLIDE ENGINE */
	.presentation {
		width: 100vw; height: 100vh;
		position: relative;
		overflow: hidden;
	}

	.slide {
		display: flex;
		justify-content: center;
		align-items: center;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		height: 100vh;
		width: 100vw;
		opacity: 0;
		animation: slideLeave .4s ease;
	}

	.slide.active {
		opacity: 1;
		animation: slideEnter .4s ease;
	}

	.transition-overlay {
		position: fixed;
		inset: 0;
		background: #D4AF37;
		z-index: 999;
		transform: translateX(-100%);
	}

/*SLIDE ANIMATIONS*/
	@keyframes slideEnter {
		from { clip-path: inset(0 100% 0 0); }
		to   { clip-path: inset(0 0% 0 0); }
	}

	@keyframes slideLeave {
		from { clip-path: inset(0 0% 0 0); }
		to   { clip-path: inset(0 0 0 100%); }
	}

/* UI STUFF */
	#progress-bar::before {
		content: '';

		width: 105%;
		height: 100%;
		background: var(--gold);
		position: absolute;

		filter: blur(1.2rem);

		z-index: 999;

		transition: all .7s ease;
	}
	#progress-bar {
		width: 100%;
		height: 4px;

		background: var(--gold);
		position: absolute;
		bottom: 0;

		z-index: 999;

		transition: all .7s ease;
	}

	#slide-counter {
		font: 11px 'Playfair Display', sans-serif;
		position: absolute;
		bottom: 1.2em;
		right: .8em;
		color: var(--silver);
		letter-spacing: 2px;
		z-index: 999;
	}


/* MEMES */

	.meme {
		width: 100%;
		height: 100%;

		position: absolute;
		z-index: 1000;
		background-size: cover;
    	background-position: center;
    	opacity: 0;
		background-size: 100% 100%;
	}
	#ashbaby {
		background-image: url(imgs/ashbaby.jpg);
	}
	#tuffbb {
		background-image: url(imgs/tuffbb.jpg);
	}	
	#shockedngg {
		background-image: url(imgs/shockedngg.jpg);
	}	
	#ext {
		background-image: url(imgs/epsteinxtrump.jpg);
	}
	#ddornodd {
		background-image: url(imgs/ddornodd.jpg);
	}
	#jeffinmaid {
		background-image: url(imgs/jeffinm.jpg);
	}
	#nph {
		background-image: url(imgs/nph.jpg);
	}
	#diddyHi {
		background-image: url(imgs/diddyHi.webp);
	}
	#rock {
		background-image: url(imgs/susrock.jpg);
	}
	#buck {
		background-image: url(imgs/buck.gif);
	}
	.meme.meme-on {
		opacity: 1;
	}

/* EOF */