#slide-4 {
	background: var(--ink);
	flex-direction: column;
}

.fact-holder {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;

	gap: 4px;
}

.fact::before {
	content: '';
	width: 80%;
	height: 100%;
	background: ;
}
.fact {
	position: relative;
	width: 200px;
	height: 170px;

	background: rgb(27 26 31);

	border-color: var(--gold-light);
	border-style: solid;
	border-radius: 4px;
	border-width: 1px 1px 1px 4px;

	margin: .4em 1.8em .4em 1.8em;
	padding: 6px;
}

.fact-num {
	font: 32px 'Playfair Display';
	color: var(--gold);
	text-align: center;
}

.fact-title {
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;

	margin: .8em 0 .8em 0;
}

.fact-body {
	font-size: 14px;
	font-weight: 400;
	color: var(--silver);
	text-align: center;
}

#background-pattern {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 200%;
	height: 100%;
	background-image: repeating-conic-gradient(from 45deg, rgba(255, 255, 255, .04) 0% 25%, transparent 0% 50%),
					  repeating-conic-gradient(from 45deg, rgba(255, 255, 255, .04) 0% 25%, transparent 0% 50%);
	background-size: 50px 50px;
	opacity: .15;
	z-index: -1;
	filter: blur(1px);
	animation: trip 60s linear infinite;
}

@keyframes trip {
	from {
		background-position: -100%;
	}

	to {
		background-position: 100%;
	}
}