/* SLIDE 2 SETTINGS */
	#slide-2 {
		background: var(--green-money);
		flex-direction: column;
	}

/* TITLE */
	.slide-title {
		font: 38px 'Playfair Display', sans-serif;
		align-self: flex-start;
		margin: .1em 1.2em .6em 1.2em;
		font-weight: 600;
	}

/* CARDS */
	.card-holder {
		display: flex;

		width: 100%;
		height: 60%;

		justify-content: center;
		align-items: center;
	}

	.card {
		width: 160px;
		height: 260px;

		background: rgba(255,255,255,0.06);
		border: 1px solid rgba(201,168,76,0.25);
		border-radius: 4px;

		padding: .8em;
		margin: .8em 2.2em .8em 2.2em;

		transform: translateY(20px);
		opacity: 0.6;

		transition: all .6s ease;
	}

	.card.active {
		transform: translateY(0);
		opacity: 1;
	}

	.card-num {
		font: 48px 'Playfair Display', serif;
		color: var(--gold);

		margin: 6px 0 6px 0;
	}

	.card-title {
		text-transform: uppercase;
		font-weight: 400;
		font-size: 22px;
	}

	.card-body {
		font-size: 16px;
		color: var(--silver);
	}

/* BACKGROUND LIGHT EFFECT */
	.background-light {
		position: absolute;
		right: -30%;

		filter: blur(11em);
		border-radius: 50%;
		width: 240px;
		height: 240px;
		background: white;
	}

/* EOF */